<!doctype html>
<title>Men's Health 2012</title>
<link rel=stylesheet type=text/css href="static/css/style.css">
<body>
<div class=page>
    <h1>Men's Health 2012</h1>
    <div class=metanav>
    {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
    {% else %}
        <a href="{{ url_for('logout') }}">log out</a> 
        <a href="{{ url_for('admin') }}">admin</a>
        <a href="{{ url_for('show_graph') }}"> progress</a>
        <a href="{{ url_for('add') }}">add new </a>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body%}{% endblock %}
</div>
</body>
